<p> Pirate Name: <%="#{@pirate["name"]}"%> </p>
<p> Pirate Height: <%="#{@pirate["height"]}"%> </p>
<p> Pirate Weight: <%="#{@pirate["weight"]}"%> </p>

<p> Ship 1 Name: <%="#{@ship_one["name"]}"%> </p>
<p> Ship 1 Type: <%="#{@ship_one["type"]}"%> </p>
<p> Ship 1 Booty: <%="#{@ship_one["booty"]}"%> </p>

<p> Ship 2 Name: <%="#{@ship_two["name"]}"%> </p>
<p> Ship 2 Type: <%="#{@ship_two["type"]}"%> </p>
<p> Ship 2 Booty: <%="#{@ship_two["booty"]}"%> </p>
